<div>
    <h1>Workout name: {{name}}</h1>
    <h1>Exercises:</h1>
    <ul>
        {{#each exercises}}
            <li>
                <h1>Name: {{name}}</h1>
                <span>Sets: {{sets}}</span>
                <span>Reps: {{reps}}</span>
            </li>
        {{/each}}
    </ul>
</div>